
/auth/    @meluansantos @sec-lead
/infra/   @meluansantos @infra-lead
/payment/ @meluansantos @payment-sec
/.github/ @meluansantos @sec-lead
/config/  @meluansantos @devops-lead
Dockerfile @meluansantos @sec-lead
*         @meluansantos
